.signup-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 1.5rem;
  margin-top: 10%;
  overflow: hidden;
}

.signup-grid {
  display: grid;
  grid-template-columns: 0.1fr 1.5fr 8fr;
  grid-gap: 16px;
  background-color: #f5f7f8;
  border-radius: 10px;
}

.signup-text {
  margin-top: 30px;
  grid-column: 1 / 4;
  text-align: center;
}
.signup-text1 {
  grid-column: -1 / 3;
  text-align: right;
}
.signup-text1 span {
  color: #3c79a7;
  font-weight: 600;
  cursor: pointer;
}
.signup-form {
  grid-column: 2 / 4;
}

.signup-role {
  font-size: 16px;
  margin-bottom: 10px;
}

.signup-form-group {
  margin-bottom: 20px;
}

.signup-form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.password-input-wrapper {
  position: relative;
}

.signup-form-control {
  width: 95%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.password-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.err {
  font-size: 0.8rem;
  color: red;
  margin-top: 5px;
}

.btn-group {
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.btn {
  padding: 10px 30px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}
